@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    /* Custom gradient color for mobile menu */
    .mobile-menu-bg {
        background: linear-gradient(180deg, rgb(7, 22, 38) 35%, rgb(0, 0, 0) 85%);
    }

/* key frame animation for infite scrolling to the left */
    @keyframes loopLeft {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(-100%);
        }
    }

    .loopLeft {
        animation: loopLeft 10s linear infinite;
    }

    /* key frame animation for infite scrolling to the right */

    @keyframes loopRight {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(100%);
        }
    }

    .loopRight {
        animation: loopRight 10s linear infinite;
    }

    /* accessibility for user animation preference */

    @media (prefers-reduced-motion) {
        .loopLeft, .loopRight {
            animation: none;
        }
    }
}
  